openapi: 3.0.0
info:
  contact:
    email: cdisc_library_support@cdisc.org
    name: CDISC Library Support
  description: REST API Documentation for CDISC Library in production server
  license:
    name: License for CDISC Members & Open Source Developers
    url: https://www.cdisc.org/cdisc-library/api-account-request
  title: CDISC Library API
  version: 1.1.0
servers:
- description: Production server
  url: https://library.cdisc.org/api
- description: SwaggerHub API Auto Mocking
  url: https://virtserver.swaggerhub.com/CDISC1/share-2.0/1.1.0
security:
- basicAuth: []
paths:
  /health:
    get:
      description: Check health of system components
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Health"
          description: OK
      tags:
      - Statuses
  /mdr/maintenance:
    get:
      description: Set maintenance mode and message
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MaintenanceBody"
          description: OK
      tags:
      - Statuses
  /mdr/search:
    get:
      description: Get Search Results Across CDISC Library
      externalDocs:
        description: Release Notes about Searches
        url: https://wiki.cdisc.org/display/LIBSUPRT/Search
      parameters:
      - allowEmptyValue: true
        description: Search Term Expression
        explode: true
        in: query
        name: q
        required: true
        schema:
          type: string
        style: form
      - description: Search Highlight Expression
        explode: true
        in: query
        name: highlight
        required: false
        schema:
          type: string
        style: form
      - description: Initial Search Result Index
        explode: true
        in: query
        name: start
        required: false
        schema:
          default: 0
          type: number
        style: form
      - description: Number of Search Results to Return
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          default: 100
          type: number
        style: form
      - description: Limit Search by Setting Scope to Class
        explode: true
        in: query
        name: class
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to Codelist
        explode: true
        in: query
        name: codelist
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to Concept ID
        explode: true
        in: query
        name: conceptId
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to Core
        explode: true
        in: query
        name: core
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to Data Structure
        explode: true
        in: query
        name: dataStructure
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to Dataset Structure
        explode: true
        in: query
        name: datasetStructure
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to Definition
        explode: true
        in: query
        name: definition
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to Description
        explode: true
        in: query
        name: description
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to Domain
        explode: true
        in: query
        name: domain
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to Effective Date
        explode: true
        in: query
        name: effectiveDate
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to Extensible
        explode: true
        in: query
        name: extensible
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to Href
        explode: true
        in: query
        name: href
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to Label
        explode: true
        in: query
        name: label
        required: false
        schema:
          type: string
        style: form
      - description: SLimit Search by Setting Scope to Measure Type
        explode: true
        in: query
        name: measureType
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to Name
        explode: true
        in: query
        name: name
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to Preferred Term
        explode: true
        in: query
        name: preferredTerm
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to Product
        explode: true
        in: query
        name: product
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to Product Group
        explode: true
        in: query
        name: productGroup
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to Registration Status
        explode: true
        in: query
        name: registrationStatus
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to Role Description
        explode: true
        in: query
        name: roleDescription
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to SDTM Target
        explode: true
        in: query
        name: sdtmTarget
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to Simple Datatype
        explode: true
        in: query
        name: simpleDatatype
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to Submission Value
        explode: true
        in: query
        name: submissionValue
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to Synonyms
        explode: true
        in: query
        name: synonyms
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to Type
        explode: true
        in: query
        name: type
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to UI Href
        explode: true
        in: query
        name: uiHref
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to Value Domain
        explode: true
        in: query
        name: valueDomain
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to Variable Set
        explode: true
        in: query
        name: variableSet
        required: false
        schema:
          type: string
        style: form
      - description: Limit Search by Setting Scope to Version
        explode: true
        in: query
        name: version
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultSearchResponse"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - Searches
  /mdr/search/scopes:
    get:
      description: Get Search Results Across CDISC Library
      externalDocs:
        description: Release Notes about Searches
        url: https://wiki.cdisc.org/display/LIBSUPRT/Search
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/_mdr_search_scopes_get_200_response"
          description: OK
      tags:
      - Searches
  /mdr/search/scopes/{scope}:
    get:
      description: Get Search Results Limited to Scope
      externalDocs:
        description: Release Notes about Searches
        url: https://wiki.cdisc.org/display/LIBSUPRT/Search
      parameters:
      - description: Search Scope
        explode: false
        in: path
        name: scope
        required: true
        schema:
          $ref: "#/components/schemas/DefaultSearchScopes"
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScopeValues"
          description: OK
      tags:
      - Searches
  /mdr/products:
    get:
      description: Get CDISC Library Products
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Products"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlProducts"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
  /mdr/about:
    get:
      description: Get Information About CDISC Library
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/About"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlAbout"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
  /mdr/lastupdated:
    get:
      description: Get CDISC Library Last Updated
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Lastupdated"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlLastupdated"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
  /mdr/products/DataTabulation:
    get:
      description: Get CDISC Library Product Group Data Tabulation
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductgroupDataTabulation"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlProductgroupDataTabulation"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
  /mdr/products/DataCollection:
    get:
      description: Get CDISC Library Product Group Data Collection
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductgroupDataCollection"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlProductgroupDataCollection"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
  /mdr/products/DataAnalysis:
    get:
      description: Get CDISC Library Product Group Data Analysis
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductgroupDataAnalysis"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlProductgroupDataAnalysis"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
  /mdr/products/Terminology:
    get:
      description: Get CDISC Library Product Group Terminology
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductgroupTerminology"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlProductgroupTerminology"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
  /mdr/products/Measures:
    get:
      description: Get CDISC Library Product Group QRS
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductgroupQrs"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
  /mdr/ct/packages:
    get:
      description: Get CDISC Library CT Package List
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CtPackages"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlCtPackages"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - Controlled Terminology (CT)
  /mdr/ct/packages/{product}:
    get:
      description: Get CDISC Library CT Package
      parameters:
      - description: CT Package Product Identifier
        explode: false
        in: path
        name: product
        required: true
        schema:
          example: sdtmct-2019-12-20
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CtPackage"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlCtPackage"
            text/csv:
              schema:
                $ref: "#/components/schemas/ExportCtTable"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/ExportCtTable"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/ExportCtTable"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - Controlled Terminology (CT)
  /mdr/ct/packages/{package}/codelists:
    get:
      description: Get CDISC Library CT Package Codelist List
      parameters:
      - description: CT Package Identifier
        explode: false
        in: path
        name: package
        required: true
        schema:
          example: sdtmct-2019-12-20
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CtPackageCodelists"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlCtPackageCodelists"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - Controlled Terminology (CT)
  /mdr/ct/packages/{package}/codelists/{codelist}:
    get:
      description: Get CDISC Library CT Package Codelist
      parameters:
      - description: CT Package Identifier
        explode: false
        in: path
        name: package
        required: true
        schema:
          example: sdtmct-2019-12-20
          type: string
        style: simple
      - description: CT Codelist Identifier
        explode: false
        in: path
        name: codelist
        required: true
        schema:
          example: C67154
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CtCodelist"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlCtCodelist"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - Controlled Terminology (CT)
  /mdr/ct/packages/{package}/codelists/{codelist}/terms:
    get:
      description: Get CDISC Library CT Package Codelist Term List
      parameters:
      - description: CT Package Identifier
        explode: false
        in: path
        name: package
        required: true
        schema:
          example: sdtmct-2019-12-20
          type: string
        style: simple
      - description: CT Codelist Identifier
        explode: false
        in: path
        name: codelist
        required: true
        schema:
          example: C67154
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CtCodelistTerms"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlCtCodelistTerms"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - Controlled Terminology (CT)
  /mdr/ct/packages/{package}/codelists/{codelist}/terms/{term}:
    get:
      description: Get CDISC Library CT Package Codelist Term
      parameters:
      - description: CT Package Product Identifier
        explode: false
        in: path
        name: package
        required: true
        schema:
          example: sdtmct-2019-12-20
          type: string
        style: simple
      - description: CT Codelist Identifier
        explode: false
        in: path
        name: codelist
        required: true
        schema:
          example: C67154
          type: string
        style: simple
      - description: CT Codelist Term Identifier
        explode: false
        in: path
        name: term
        required: true
        schema:
          example: C64796
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CtTerm"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlCtTerm"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - Controlled Terminology (CT)
  /mdr/root/ct/{productGroup}/codelists/{codelist}:
    get:
      description: Get CDISC Library Root CT Codelist
      parameters:
      - description: CT Product Group Identifier
        explode: false
        in: path
        name: productGroup
        required: true
        schema:
          example: sdtmct
          type: string
        style: simple
      - description: CT Codelist Identifier
        explode: false
        in: path
        name: codelist
        required: true
        schema:
          example: C67154
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RootCtCodelist"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlRootCtCodelist"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - Controlled Terminology (CT)
  /mdr/root/ct/{productGroup}/codelists/{codelist}/terms/{term}:
    get:
      description: Get CDISC Library Root CT Term
      parameters:
      - description: CT Product Group Identifier
        explode: false
        in: path
        name: productGroup
        required: true
        schema:
          example: sdtmct
          type: string
        style: simple
      - description: CT Codelist Identifier
        explode: false
        in: path
        name: codelist
        required: true
        schema:
          example: C67154
          type: string
        style: simple
      - description: CT Codelist Term Identifier
        explode: false
        in: path
        name: term
        required: true
        schema:
          example: C64796
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RootCtTerm"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlRootCtTerm"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - Controlled Terminology (CT)
  /mdr/cdash/{version}:
    get:
      description: Get CDASH Product
      parameters:
      - description: CDISC Library Product Version
        explode: false
        in: path
        name: version
        required: true
        schema:
          example: 1-1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CdashProduct"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlCdashProduct"
            text/csv:
              schema:
                $ref: "#/components/schemas/ExportCdashTable"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/ExportCdashTable"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/ExportCdashTable"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - Clinical Data Acquisition Standards Harmonization (CDASH)
  /mdr/cdash/{version}/classes:
    get:
      description: Get CDASH Class List
      parameters:
      - description: CDISC Library Product Version
        explode: false
        in: path
        name: version
        required: true
        schema:
          example: 1-1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CdashProductClasses"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlCdashProductClasses"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - Clinical Data Acquisition Standards Harmonization (CDASH)
  /mdr/cdash/{version}/classes/{class}:
    get:
      description: Get CDASH Class
      parameters:
      - description: CDISC Library Product Version
        explode: false
        in: path
        name: version
        required: true
        schema:
          example: 1-1
          type: string
        style: simple
      - description: CDASH Class Identifier
        explode: false
        in: path
        name: class
        required: true
        schema:
          example: Timing
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CdashClass"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlCdashClass"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - Clinical Data Acquisition Standards Harmonization (CDASH)
  /mdr/cdash/{version}/classes/{class}/domains:
    get:
      description: Get CDASH Class Domain List
      parameters:
      - description: CDISC Library Product Version
        explode: false
        in: path
        name: version
        required: true
        schema:
          example: 1-1
          type: string
        style: simple
      - description: CDASH Class Identifier
        explode: false
        in: path
        name: class
        required: true
        schema:
          example: SpecialPurpose
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CdashClassDomains"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlCdashClassDomains"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - Clinical Data Acquisition Standards Harmonization (CDASH)
  /mdr/cdash/{version}/classes/{class}/fields/{field}:
    get:
      description: Get CDASH Class Field
      parameters:
      - description: CDISC Library Product Version
        explode: false
        in: path
        name: version
        required: true
        schema:
          example: 1-1
          type: string
        style: simple
      - description: CDASH Class Identifier
        explode: false
        in: path
        name: class
        required: true
        schema:
          example: Timing
          type: string
        style: simple
      - description: CDASH Field Identifier
        explode: false
        in: path
        name: field
        required: true
        schema:
          example: --DAT
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CdashClassField"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlCdashClassField"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - Clinical Data Acquisition Standards Harmonization (CDASH)
  /mdr/cdash/{version}/domains:
    get:
      description: Get CDASH Domain List
      parameters:
      - description: CDISC Library Product Version
        explode: false
        in: path
        name: version
        required: true
        schema:
          example: 1-1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CdashProductDomains"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlCdashProductDomains"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - Clinical Data Acquisition Standards Harmonization (CDASH)
  /mdr/cdash/{version}/domains/{domain}:
    get:
      description: Get CDASH Domain
      parameters:
      - description: CDISC Library Product Version
        explode: false
        in: path
        name: version
        required: true
        schema:
          example: 1-1
          type: string
        style: simple
      - description: CDASH Domain Identifier
        explode: false
        in: path
        name: domain
        required: true
        schema:
          example: DM
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CdashDomain"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlCdashDomain"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - Clinical Data Acquisition Standards Harmonization (CDASH)
  /mdr/cdash/{version}/domains/{domain}/fields:
    get:
      description: Get CDASH Domain Field List
      parameters:
      - description: CDISC Library Product Version
        explode: false
        in: path
        name: version
        required: true
        schema:
          example: 1-1
          type: string
        style: simple
      - description: CDASH Domain Identifier
        explode: false
        in: path
        name: domain
        required: true
        schema:
          example: DM
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CdashDomainFields"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlCdashDomainFields"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - Clinical Data Acquisition Standards Harmonization (CDASH)
  /mdr/cdash/{version}/domains/{domain}/fields/{field}:
    get:
      description: Get CDASH Domain Field
      parameters:
      - description: CDISC Library Product Version
        explode: false
        in: path
        name: version
        required: true
        schema:
          example: 1-1
          type: string
        style: simple
      - description: CDASH Domain Identifier
        explode: false
        in: path
        name: domain
        required: true
        schema:
          example: DM
          type: string
        style: simple
      - description: CDASH Field Identifier
        explode: false
        in: path
        name: field
        required: true
        schema:
          example: AGE
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CdashDomainField"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlCdashDomainField"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - Clinical Data Acquisition Standards Harmonization (CDASH)
  /mdr/root/cdash/classes/{class}/fields/{field}:
    get:
      description: Get Root CDASH Class Field
      parameters:
      - description: CDASH Class Identifier
        explode: false
        in: path
        name: class
        required: true
        schema:
          example: Timing
          type: string
        style: simple
      - description: CDASH Field Identifier
        explode: false
        in: path
        name: field
        required: true
        schema:
          example: --DAT
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RootCdashClassField"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlRootCdashClassField"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - Clinical Data Acquisition Standards Harmonization (CDASH)
  /mdr/root/cdash/domains/{domain}/fields/{field}:
    get:
      description: Get Root CDASH Domain Field
      parameters:
      - description: CDASH Domain Identifier
        explode: false
        in: path
        name: domain
        required: true
        schema:
          example: DM
          type: string
        style: simple
      - description: CDASH Field Identifier
        explode: false
        in: path
        name: field
        required: true
        schema:
          example: AGE
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RootCdashDomainField"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlRootCdashDomainField"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - Clinical Data Acquisition Standards Harmonization (CDASH)
  /mdr/cdashig/{version}:
    get:
      description: Get CDASHIG Product
      parameters:
      - description: CDISC Library Product Version
        explode: false
        in: path
        name: version
        required: true
        schema:
          example: 2-1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CdashigProduct"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlCdashigProduct"
            text/csv:
              schema:
                $ref: "#/components/schemas/ExportCdashigTable"
            application/vnd.ms-excel:
              schema:
                $ref: "#/components/schemas/ExportCdashigTable"
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: "#/components/schemas/ExportCdashigTable"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - CDASH Implementation Guide (CDASHIG)
  /mdr/cdashig/{version}/classes:
    get:
      description: Get CDASHIG Class List
      parameters:
      - description: CDISC Library Product Version
        explode: false
        in: path
        name: version
        required: true
        schema:
          example: 2-1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CdashigProductClasses"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlCdashigProductClasses"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - CDASH Implementation Guide (CDASHIG)
  /mdr/cdashig/{version}/classes/{class}:
    get:
      description: Get CDASHIG Class
      parameters:
      - description: CDISC Library Product Version
        explode: false
        in: path
        name: version
        required: true
        schema:
          example: 2-1
          type: string
        style: simple
      - description: CDASHIG Class Identifier
        explode: false
        in: path
        name: class
        required: true
        schema:
          example: Findings
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CdashigClass"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlCdashigClass"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - CDASH Implementation Guide (CDASHIG)
  /mdr/cdashig/{version}/classes/{class}/domains:
    get:
      description: Get CDASHIG Class Domain List
      parameters:
      - description: CDISC Library Product Version
        explode: false
        in: path
        name: version
        required: true
        schema:
          example: 2-1
          type: string
        style: simple
      - description: CDASHIG Class Identifier
        explode: false
        in: path
        name: class
        required: true
        schema:
          example: Findings
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CdashigClassDomains"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlCdashigClassDomains"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - CDASH Implementation Guide (CDASHIG)
  /mdr/cdashig/{version}/domains:
    get:
      description: Get CDASHIG Domain List
      parameters:
      - description: CDISC Library Product Version
        explode: false
        in: path
        name: version
        required: true
        schema:
          example: 2-1
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CdashigProductDomains"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlCdashigProductDomains"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - CDASH Implementation Guide (CDASHIG)
  /mdr/cdashig/{version}/domains/{domain}:
    get:
      description: Get CDASHIG Domain
      parameters:
      - description: CDISC Library Product Version
        explode: false
        in: path
        name: version
        required: true
        schema:
          example: 2-1
          type: string
        style: simple
      - description: CDASHIG Domain Identifier
        explode: false
        in: path
        name: domain
        required: true
        schema:
          example: VS
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CdashigDomain"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlCdashigDomain"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - CDASH Implementation Guide (CDASHIG)
  /mdr/cdashig/{version}/domains/{domain}/fields:
    get:
      description: Get CDASHIG Domain Field List
      parameters:
      - description: CDISC Library Product Version
        explode: false
        in: path
        name: version
        required: true
        schema:
          example: 2-1
          type: string
        style: simple
      - description: CDASHIG Domain Identifier
        explode: false
        in: path
        name: domain
        required: true
        schema:
          example: VS
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CdashigDomainFields"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlCdashigDomainFields"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - CDASH Implementation Guide (CDASHIG)
  /mdr/cdashig/{version}/domains/{domain}/fields/{field}:
    get:
      description: Get CDASHIG Domain Field
      parameters:
      - description: CDISC Library Product Version
        explode: false
        in: path
        name: version
        required: true
        schema:
          example: 2-1
          type: string
        style: simple
      - description: CDASHIG Domain Identifier
        explode: false
        in: path
        name: domain
        required: true
        schema:
          example: VS
          type: string
        style: simple
      - description: CDASHIG Field Identifier
        explode: false
        in: path
        name: field
        required: true
        schema:
          example: VSDAT
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CdashigDomainField"
            application/xml:
              schema:
                $ref: "#/components/schemas/XmlCdashigDomainField"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Found
        "405":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Method Not Allowed
        "406":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Not Acceptable
        "500":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Internal Server Error
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Service Unavailable
        "504":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DefaultErrorResponse"
          description: Gateway Timeout Error
      tags:
      - CDASH Implementation Guide (CDASHIG)
  /mdr/cdashig/{version}/classes/{class}/scenarios:
    get:
      description: Get CDASHIG Class Scenario List
      parameters:
      - description: CDISC Library Product Version
        explode: false
        in: path
        name: version
        required: true
        schema:
          example: 2-1
[...]
