/**
 * CDISC Library API
 * REST API Documentation for CDISC Library in production server
 *
 * The version of the OpenAPI document: 1.1.0
 * Contact: cdisc_library_support@cdisc.org
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Health
import org.openapitools.client.model.MaintenanceBody
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object StatusesApi {

  def apply(baseUrl: String = "https://library.cdisc.org/api") = new StatusesApi(baseUrl)
}

class StatusesApi(baseUrl: String) {

  /**
   * Check health of system components
   * 
   * Expected answers:
   *   code 200 : Health (OK)
   * 
   * Available security schemes:
   *   basicAuth (http)
   */
  def healthGet()(implicit basicAuth: BasicCredentials): ApiRequest[Health] =
    ApiRequest[Health](ApiMethods.GET, baseUrl, "/health", "application/json")
      .withCredentials(basicAuth).withSuccessResponse[Health](200)
      

  /**
   * Set maintenance mode and message
   * 
   * Expected answers:
   *   code 200 : MaintenanceBody (OK)
   * 
   * Available security schemes:
   *   basicAuth (http)
   */
  def mdrMaintenanceGet()(implicit basicAuth: BasicCredentials): ApiRequest[MaintenanceBody] =
    ApiRequest[MaintenanceBody](ApiMethods.GET, baseUrl, "/mdr/maintenance", "application/json")
      .withCredentials(basicAuth).withSuccessResponse[MaintenanceBody](200)
      



}

