=begin
#CDISC Library API

#REST API Documentation for CDISC Library in production server

The version of the OpenAPI document: 1.1.0
Contact: cdisc_library_support@cdisc.org
Generated by: https://openapi-generator.tech
Generator version: 7.16.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class SDTMImplementationGuideSDTMIGApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Root SDTMIG Dataset Variable
    # @param dataset [String] SDTMIG Dataset Identifier
    # @param var [String] SDTMIG Variable Identifier
    # @param [Hash] opts the optional parameters
    # @return [RootSdtmigDatasetVariable]
    def mdr_root_sdtmig_datasets_dataset_variables_var_get(dataset, var, opts = {})
      data, _status_code, _headers = mdr_root_sdtmig_datasets_dataset_variables_var_get_with_http_info(dataset, var, opts)
      data
    end

    # Get Root SDTMIG Dataset Variable
    # @param dataset [String] SDTMIG Dataset Identifier
    # @param var [String] SDTMIG Variable Identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(RootSdtmigDatasetVariable, Integer, Hash)>] RootSdtmigDatasetVariable data, response status code and response headers
    def mdr_root_sdtmig_datasets_dataset_variables_var_get_with_http_info(dataset, var, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SDTMImplementationGuideSDTMIGApi.mdr_root_sdtmig_datasets_dataset_variables_var_get ...'
      end
      # verify the required parameter 'dataset' is set
      if @api_client.config.client_side_validation && dataset.nil?
        fail ArgumentError, "Missing the required parameter 'dataset' when calling SDTMImplementationGuideSDTMIGApi.mdr_root_sdtmig_datasets_dataset_variables_var_get"
      end
      # verify the required parameter 'var' is set
      if @api_client.config.client_side_validation && var.nil?
        fail ArgumentError, "Missing the required parameter 'var' when calling SDTMImplementationGuideSDTMIGApi.mdr_root_sdtmig_datasets_dataset_variables_var_get"
      end
      # resource path
      local_var_path = '/mdr/root/sdtmig/datasets/{dataset}/variables/{var}'.sub('{' + 'dataset' + '}', CGI.escape(dataset.to_s)).sub('{' + 'var' + '}', CGI.escape(var.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RootSdtmigDatasetVariable'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SDTMImplementationGuideSDTMIGApi.mdr_root_sdtmig_datasets_dataset_variables_var_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SDTMImplementationGuideSDTMIGApi#mdr_root_sdtmig_datasets_dataset_variables_var_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SDTMIG Class Dataset List
    # @param version [String] CDISC Library Product Version
    # @param _class [String] SDTMIG Class Identifier
    # @param [Hash] opts the optional parameters
    # @return [SdtmigClassDatasets]
    def mdr_sdtmig_version_classes_class_datasets_get(version, _class, opts = {})
      data, _status_code, _headers = mdr_sdtmig_version_classes_class_datasets_get_with_http_info(version, _class, opts)
      data
    end

    # Get SDTMIG Class Dataset List
    # @param version [String] CDISC Library Product Version
    # @param _class [String] SDTMIG Class Identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(SdtmigClassDatasets, Integer, Hash)>] SdtmigClassDatasets data, response status code and response headers
    def mdr_sdtmig_version_classes_class_datasets_get_with_http_info(version, _class, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_classes_class_datasets_get ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_classes_class_datasets_get"
      end
      # verify the required parameter '_class' is set
      if @api_client.config.client_side_validation && _class.nil?
        fail ArgumentError, "Missing the required parameter '_class' when calling SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_classes_class_datasets_get"
      end
      # resource path
      local_var_path = '/mdr/sdtmig/{version}/classes/{class}/datasets'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'class' + '}', CGI.escape(_class.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SdtmigClassDatasets'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_classes_class_datasets_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SDTMImplementationGuideSDTMIGApi#mdr_sdtmig_version_classes_class_datasets_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SDTMIG Class
    # @param version [String] CDISC Library Product Version
    # @param _class [String] SDTMIG Class Identifier
    # @param [Hash] opts the optional parameters
    # @return [SdtmigClass]
    def mdr_sdtmig_version_classes_class_get(version, _class, opts = {})
      data, _status_code, _headers = mdr_sdtmig_version_classes_class_get_with_http_info(version, _class, opts)
      data
    end

    # Get SDTMIG Class
    # @param version [String] CDISC Library Product Version
    # @param _class [String] SDTMIG Class Identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(SdtmigClass, Integer, Hash)>] SdtmigClass data, response status code and response headers
    def mdr_sdtmig_version_classes_class_get_with_http_info(version, _class, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_classes_class_get ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_classes_class_get"
      end
      # verify the required parameter '_class' is set
      if @api_client.config.client_side_validation && _class.nil?
        fail ArgumentError, "Missing the required parameter '_class' when calling SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_classes_class_get"
      end
      # resource path
      local_var_path = '/mdr/sdtmig/{version}/classes/{class}'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'class' + '}', CGI.escape(_class.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SdtmigClass'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_classes_class_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SDTMImplementationGuideSDTMIGApi#mdr_sdtmig_version_classes_class_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SDTMIG Class List
    # @param version [String] CDISC Library Product Version
    # @param [Hash] opts the optional parameters
    # @return [SdtmigClasses]
    def mdr_sdtmig_version_classes_get(version, opts = {})
      data, _status_code, _headers = mdr_sdtmig_version_classes_get_with_http_info(version, opts)
      data
    end

    # Get SDTMIG Class List
    # @param version [String] CDISC Library Product Version
    # @param [Hash] opts the optional parameters
    # @return [Array<(SdtmigClasses, Integer, Hash)>] SdtmigClasses data, response status code and response headers
    def mdr_sdtmig_version_classes_get_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_classes_get ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_classes_get"
      end
      # resource path
      local_var_path = '/mdr/sdtmig/{version}/classes'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SdtmigClasses'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_classes_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SDTMImplementationGuideSDTMIGApi#mdr_sdtmig_version_classes_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SDTMIG Dataset
    # @param version [String] CDISC Library Product Version
    # @param dataset [String] SDTMIG Dataset Identifier
    # @param [Hash] opts the optional parameters
    # @return [SdtmigDataset]
    def mdr_sdtmig_version_datasets_dataset_get(version, dataset, opts = {})
      data, _status_code, _headers = mdr_sdtmig_version_datasets_dataset_get_with_http_info(version, dataset, opts)
      data
    end

    # Get SDTMIG Dataset
    # @param version [String] CDISC Library Product Version
    # @param dataset [String] SDTMIG Dataset Identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(SdtmigDataset, Integer, Hash)>] SdtmigDataset data, response status code and response headers
    def mdr_sdtmig_version_datasets_dataset_get_with_http_info(version, dataset, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_datasets_dataset_get ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_datasets_dataset_get"
      end
      # verify the required parameter 'dataset' is set
      if @api_client.config.client_side_validation && dataset.nil?
        fail ArgumentError, "Missing the required parameter 'dataset' when calling SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_datasets_dataset_get"
      end
      # resource path
      local_var_path = '/mdr/sdtmig/{version}/datasets/{dataset}'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'dataset' + '}', CGI.escape(dataset.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SdtmigDataset'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_datasets_dataset_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SDTMImplementationGuideSDTMIGApi#mdr_sdtmig_version_datasets_dataset_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SDTMIG Dataset Variable List
    # @param version [String] CDISC Library Product Version
    # @param dataset [String] SDTMIG Dataset Identifier
    # @param [Hash] opts the optional parameters
    # @return [SdtmigDatasetVariables]
    def mdr_sdtmig_version_datasets_dataset_variables_get(version, dataset, opts = {})
      data, _status_code, _headers = mdr_sdtmig_version_datasets_dataset_variables_get_with_http_info(version, dataset, opts)
      data
    end

    # Get SDTMIG Dataset Variable List
    # @param version [String] CDISC Library Product Version
    # @param dataset [String] SDTMIG Dataset Identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(SdtmigDatasetVariables, Integer, Hash)>] SdtmigDatasetVariables data, response status code and response headers
    def mdr_sdtmig_version_datasets_dataset_variables_get_with_http_info(version, dataset, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_datasets_dataset_variables_get ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_datasets_dataset_variables_get"
      end
      # verify the required parameter 'dataset' is set
      if @api_client.config.client_side_validation && dataset.nil?
        fail ArgumentError, "Missing the required parameter 'dataset' when calling SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_datasets_dataset_variables_get"
      end
      # resource path
      local_var_path = '/mdr/sdtmig/{version}/datasets/{dataset}/variables'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'dataset' + '}', CGI.escape(dataset.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SdtmigDatasetVariables'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_datasets_dataset_variables_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SDTMImplementationGuideSDTMIGApi#mdr_sdtmig_version_datasets_dataset_variables_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SDTMIG Dataset Variable
    # @param version [String] CDISC Library Product Version
    # @param dataset [String] SDTMIG Dataset Identifier
    # @param var [String] SDTMIG Variable Identifier
    # @param [Hash] opts the optional parameters
    # @return [SdtmigDatasetVariable]
    def mdr_sdtmig_version_datasets_dataset_variables_var_get(version, dataset, var, opts = {})
      data, _status_code, _headers = mdr_sdtmig_version_datasets_dataset_variables_var_get_with_http_info(version, dataset, var, opts)
      data
    end

    # Get SDTMIG Dataset Variable
    # @param version [String] CDISC Library Product Version
    # @param dataset [String] SDTMIG Dataset Identifier
    # @param var [String] SDTMIG Variable Identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(SdtmigDatasetVariable, Integer, Hash)>] SdtmigDatasetVariable data, response status code and response headers
    def mdr_sdtmig_version_datasets_dataset_variables_var_get_with_http_info(version, dataset, var, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_datasets_dataset_variables_var_get ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_datasets_dataset_variables_var_get"
      end
      # verify the required parameter 'dataset' is set
      if @api_client.config.client_side_validation && dataset.nil?
        fail ArgumentError, "Missing the required parameter 'dataset' when calling SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_datasets_dataset_variables_var_get"
      end
      # verify the required parameter 'var' is set
      if @api_client.config.client_side_validation && var.nil?
        fail ArgumentError, "Missing the required parameter 'var' when calling SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_datasets_dataset_variables_var_get"
      end
      # resource path
      local_var_path = '/mdr/sdtmig/{version}/datasets/{dataset}/variables/{var}'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'dataset' + '}', CGI.escape(dataset.to_s)).sub('{' + 'var' + '}', CGI.escape(var.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SdtmigDatasetVariable'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_datasets_dataset_variables_var_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SDTMImplementationGuideSDTMIGApi#mdr_sdtmig_version_datasets_dataset_variables_var_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SDTMIG Dataset List
    # @param version [String] CDISC Library Product Version
    # @param [Hash] opts the optional parameters
    # @return [SdtmigDatasets]
    def mdr_sdtmig_version_datasets_get(version, opts = {})
      data, _status_code, _headers = mdr_sdtmig_version_datasets_get_with_http_info(version, opts)
      data
    end

    # Get SDTMIG Dataset List
    # @param version [String] CDISC Library Product Version
    # @param [Hash] opts the optional parameters
    # @return [Array<(SdtmigDatasets, Integer, Hash)>] SdtmigDatasets data, response status code and response headers
    def mdr_sdtmig_version_datasets_get_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_datasets_get ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_datasets_get"
      end
      # resource path
      local_var_path = '/mdr/sdtmig/{version}/datasets'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml', 'text/csv']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SdtmigDatasets'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_datasets_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SDTMImplementationGuideSDTMIGApi#mdr_sdtmig_version_datasets_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get SDTMIG product
    # @param version [String] CDISC Library Product Version
    # @param [Hash] opts the optional parameters
    # @return [SdtmigProduct]
    def mdr_sdtmig_version_get(version, opts = {})
      data, _status_code, _headers = mdr_sdtmig_version_get_with_http_info(version, opts)
      data
    end

    # Get SDTMIG product
    # @param version [String] CDISC Library Product Version
    # @param [Hash] opts the optional parameters
    # @return [Array<(SdtmigProduct, Integer, Hash)>] SdtmigProduct data, response status code and response headers
    def mdr_sdtmig_version_get_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_get ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_get"
      end
      # resource path
      local_var_path = '/mdr/sdtmig/{version}'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'application/xml', 'text/csv', 'application/vnd.ms-excel', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SdtmigProduct'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"SDTMImplementationGuideSDTMIGApi.mdr_sdtmig_version_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SDTMImplementationGuideSDTMIGApi#mdr_sdtmig_version_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
